body {
    background-color:rgb(138, 134, 113);

}

h1 {
    text-align: center;
    color: #FFA500;
    border: 2px solid black;
    background-color: black;

}


h2 {
    color:rgb(255, 165, 0);
}





