body {
    background-color:rgb(138, 134, 113);
    margin: 1px;

}

h1 {
    text-align: center;
    color: #FFA500;
    border: 2px solid black;
    background-color: black;
    display: block;
    margin: 0px;
    margin-top: 0px;

}


h2 {
    color:rgb(255, 165, 0);
    background-color: black; 
    margin: 1;
    padding: 10px;


}


#demo {
    color: black;
}

#font1 {
    color: #000000";
}

p {
    

}





