body {
    background-color:rgb(138, 134, 113);

}

h1 {
    text-align: center;
    color: #FFA500;
    border: 2px solid black;

}

.black-line {
    border: none;
    border-top: 2px black;
}

h2 {
    color:rgb(255, 165, 0);
}





